h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: hsl(60, 100%, 50%);
}
p::selection{
    color: #fff;
    background-color: hsl(0, 0%, 21%);
}
#gwapile-fruit{
    content: "";
}
#apple{
    cont
}